# Docker configurations
DOCKER_SERVER_IMAGE_NAME=your_server_image_name
DOCKER_SERVER_IMAGE_VERSION=your_server_image_version
DOCKER_SERVER_CONTAINER_NAME=your_server_container_name
DOCKER_DATABASE_CONTAINER_NAME=your_database_container_name

# Server configurations
SERVER_PORT=your_server_port

# Database configurations
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
MYSQL_PORT=your_mysql_port
MYSQL_DATABASE=your_database_name