# Docker configurations
DOCKER_SERVER_IMAGE_NAME=your_server_image_name
DOCKER_SERVER_IMAGE_VERSION=your_server_image_version
DOCKER_SERVER_CONTAINER_NAME=your_server_container_name
DOCKER_DATABASE_CONTAINER_NAME=your_database_container_name
DOCKER_KEYCLOAK_CONTAINER_NAME=your_keycloak_container_name

# Server configurations
SERVER_PORT=your_server_port
DOMAIN=your_domain
SSL=true|false

# Database configurations
MYSQL_USERNAME=your_user
MYSQL_PASSWORD=your_password
MYSQL_PORT=your_mysql_port
MYSQL_DATABASE=your_database_name

# Keycloak configurations
KEYCLOAK_PORT=your_keycloak_port
KEYCLOAK_ADMIN_USER=your_keycloak_admin_user
KEYCLOAK_ADMIN_PASSWORD=your_keycloak_admin_password
KEYCLOAK_DATABASE_PROVIDER=your_keycloak_database_provider
KEYCLOAK_DATABASE_NAME=your_keycloak_database_name
KEYCLOAK_HEALTH_CHECK=true|false
KEYCLOAK_METRICS=true|false

KEYCLOAK_REALM_NAME=your_keycloak_realm_name
KEYCLOAK_CLIENT_NAME=your_keycloak_client_name

# Possible env variables
NAME_REAL_TO_CONNECT = administrative-app-dev
ID_CLIENT = administrative-app-dev
NAME_CLIENT = Administrative app dev
DESCRIPTION_CLIENT = Client to manage the users of the administrative app in development environment
URL_FOR_FRONTEND_APP = http://localhost:4200
LOG_IN_REDIRECT_URI = http://localhost:4200/*
LOGOUT_REDIRECT_URI = http://localhost:4200/*
WEB_ORIGIN = *
TEST_USER_USERNAME = wedin 
TEST_USER_EMAIL = wedin@gmail
TEST_USER_PASSWORD = wedin123456
TEST_USER_FIRST_NAME = Jose Manuel
TEST_USER_LAST_NAME = Mendoza Murillo


# Development environment configuration (these configurations should be used only in .devcontainer/.env)
ROOT_USER_PASSWORD=your_root_user_password