spring:
    application:
        name: gestifysolution
    datasource:
        url: jdbc:mysql://${DATABASE_SERVICE_NAME}:${DATABASE_INTERNAL_PORT}/${DATABASE_NAME}
        username: ${DATABASE_USERNAME}
        password: ${DATABASE_PASSWORD}
        driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
        hibernate:
            ddl-auto: create-drop
        database-platform: org.hibernate.dialect.MySQL8Dialect
        show-sql: true
    # TODO: Add this params to env file
    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 20MB
             
springdoc:
    swagger-ui:
        enabled: true
        path: /docs/swagger-ui.html
    api-docs:
        enabled: true
        path: /docs/api-docs

server:
    port: ${SERVER_INTERNAL_PORT}
    servlet:
        context-path: /api/v1

app:
    keycloak:
        base-url: ${KEYCLOAK_BASE_URL}
        username: ${KEYCLOAK_ADMIN_USER}
        password: ${KEYCLOAK_ADMIN_PASSWORD}
        realm: ${KEYCLOAK_REALM_NAME}
        admin-client: ${KEYCLOAK_ADMIN_CLIENT_NAME}
        client: ${KEYCLOAK_CLIENT_NAME}
    domain: ${DOMAIN}
    ssl: ${SSL}
    minio:
        endpoint: http://${MINIO_SERVICE_NAME}:${MINIO_INTERNAL_PORT_API}
        access-key: ${MINIO_ROOT_USER}
        secret-key: ${MINIO_ROOT_PASSWORD}
        bucket-name: ${MINIO_BUCKET_NAME}
        exposed-port-api: ${MINIO_EXPOSED_PORT_API}