spring:
    application:
        name: adminstrativeapp
    datasource:
        url: ${DATABASE_URL}
        username: ${DATABASE_USER}
        password: ${DATABASE_PASSWORD}
        driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
        hibernate:
            ddl-auto: create-drop
        database-platform: org.hibernate.dialect.MySQL8Dialect
        show-sql: true

springdoc:
    swagger-ui:
        enabled: true
        path: /docs/swagger-ui.html
    api-docs:
        enabled: true
        path: /docs/api-docs
        
server:
    servlet:
        context-path: /api/v1

