version: '3.9'

services:

  gestifysolution-server-base:
    image: ${SERVER_IMAGE_NAME}:${SERVER_IMAGE_VERSION}  
    container_name: ${SERVER_CONTAINER_NAME}
    ports:
      - ${SERVER_EXPOSED_PORT}:${SERVER_INTERNAL_PORT}
  
  gestifysolution-db-base:
    image: mysql:8.4.0
    container_name: ${DATABASE_CONTAINER_NAME}
    ports:
      - ${DATABASE_EXPOSED_PORT}:${DATABASE_INTERNAL_PORT}
    environment:
      - MYSQL_ROOT_PASSWORD=${DATABASE_PASSWORD}
      - MYSQL_DATABASE=${DATABASE_NAME}
  
  gestifysolution-keycloak-db-base:
    image: mysql:8.4.0
    container_name: ${KEYCLOAK_DATABASE_CONTAINER_NAME}
    ports:
      - ${KEYCLOAK_DATABASE_EXPOSED_PORT}:${KEYCLOAK_DATABASE_INTERNAL_PORT}
    environment:
      - MYSQL_ROOT_PASSWORD=${KEYCLOAK_DATABASE_PASSWORD}
      - MYSQL_DATABASE=${KEYCLOAK_DATABASE_NAME}

  gestifysolution-keycloak-base:
    image: quay.io/keycloak/keycloak:25.0.2
    container_name: ${KEYCLOAK_CONTAINER_NAME}
    ports:
      - ${KEYCLOAK_EXPOSED_PORT}:${KEYCLOAK_INTERNAL_PORT}
    environment:
      - KC_HEALTH_ENABLED=${KEYCLOAK_HEALTH_CHECK}
      - KC_METRICS_ENABLED=${KEYCLOAK_METRICS}
      - KC_DB=${KEYCLOAK_DATABASE_PROVIDER}
      - KC_DB_PASSWORD=${KEYCLOAK_DATABASE_PASSWORD}
      - KC_DB_USERNAME=${KEYCLOAK_DATABASE_USERNAME}
      - KC_DB_URL=jdbc:${KEYCLOAK_DATABASE_PROVIDER}://${KEYCLOAK_DATABASE_SERVICE_NAME}:${KEYCLOAK_DATABASE_INTERNAL_PORT}/${KEYCLOAK_DATABASE_NAME}
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN_USER}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}

  gestifysolution-minio-base:
    image: minio/minio
    container_name: ${MINIO_CONTAINER_NAME}
    ports:
      - "${MINIO_EXPOSED_PORT_API}:${MINIO_INTERNAL_PORT_API}"
      - "${MINIO_EXPOSED_PORT_CONSOLE}:${MINIO_INTERNAL_PORT_CONSOLE}"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":${MINIO_INTERNAL_PORT_CONSOLE}"